{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "AllowListObjects",
      "Effect": "Allow",
      "Action": ["s3:ListBucket"],
      "Resource": ["${bucket_arn}"]
    },
    {
      "Sid": "AllowObjectActions",
      "Effect": "Allow",
      "Action": ["s3:*Object"],
      "Resource": ["${bucket_arn}/*"]
    }
  ]
}
