{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Effect": "Allow",
      "Action": [
        "secretsmanager:GetSecretValue",
        "kms:Decrypt",
        "ssm:GetParameter",
        "ssm:GetParameters"
      ],
      "Resource": [
        "${db_credentials_arn}",
        "${keybase_arn}",
        "${kms_arn}"
      ]
    }
  ]
}
