{
  "Version": "2012-10-17",
  "Statement": [
    {

      "Sid": "AWSCloudTrailCreateLogStream",
      "Effect": "Allow",
      "Action": [
        "s3:*"
      ],
      "Resource": [
        "arn:aws:s3:::${data_lake_bucket}",
        "arn:aws:s3:::${data_lake_bucket}/*"
      ]
    }
  ]
}
